---
Checks: "-*,\
bugprone-too-small-loop-variable,\
clang-analyzer-deadcode.DeadStores,\
misc-unused-using-decls,\
modernize-loop-convert,\
modernize-use-auto,\
modernize-use-noexcept,\
modernize-use-nullptr,\
modernize-use-override,\
readability-convert-member-functions-to-static,\
readability-make-member-function-const,\
"
WarningsAsErrors: '*'

